/* CSS Document */
* { padding:0; margin:0;}

body { font-size:12px; font-family:"宋体"; padding:100px;}

ul { list-style-type:none;}

a { color:#666; text-decoration:none;}

a:hover { color:#000; text-decoration:underline;}

img { border:none;}

h1 { font-size:12px;}

.a1 { width:650px;border:1px solid #e7e7e7; position:relative}

.a2 { height:35px; background:#eee;}

.a2 h1 { height:35px; line-height:35px; padding-left:10px; float:left;}



.prev { background:url(../img/3.gif) no-repeat; width:31px; height:22px; text-indent:-9999px; position:absolute; left:0;}

.next {background:url(../img/3.gif) no-repeat; background-position:-31px 0; width:31px; height:22px; text-indent:-9999px;position:absolute;right:0;}

.a2 em { float:right; margin:10px 12px 0 0;}

.a5 { width:592px; height:160px; overflow:hidden; position:relative;  border-top:none;left:30px;}

.a5 ul li,.a0 li { float:left; margin:10px 2px 0; padding:8px; position:relative;}

.a6 { width:9999px; position:absolute; top:0; left;0;}

.a6 h1 { padding:5px 0 5px 0; }

.a6 h1 a { color:#aaa; }

.a0 li{ display:none; position:absolute;}

